<ul>
  {{#each tasks}}
    <li>
      <h1>{{title}}</h1>
      <p>{{description}}</p>

      {{#if done}}
        <a href="/task/{{_id}}/toggleDone">Undone</a>
      {{else}}
        <a href="/task/{{_id}}/toggleDone">Done</a>
      {{/if}}

      <a href="/task/{{_id}}/edit">edit</a>
      <a href="/task/{{_id}}/delete">Delete</a>
    </li>
  {{else}}
    <h2>No tasks</h2>
  {{/each}}
</ul>