<div class="list-tasks">
  <h1>Mis tareas</h1>
  <div class="list-tasks-container">
    {{#each tasks}}
      <div data-aos="fade" class="item-task">
        <div class="content">
          <div class="title">
            <h2>{{title}}</h2>
            <a href="/user/{{username}}/listTask">{{username}}</a>
            <span>
              <i class="fa-regular fa-clock"></i>{{timeago createdAt}}
            </span>
          </div>
          <div class="body">
            <p>{{description}}</p>
          </div>
          <div class="footer">
            <div class="float-done">
              {{#if done}}
                <button
                  title="Tarea no realizada"
                  class="btn-doneToggle active"
                  data-id="{{_id}}"
                >
                  <i class="fa-solid fa-circle-notch"></i>
                  <span class="text-value">Realizada</span>
                </button>

              {{else}}
                <button
                  title="Tarea realizada"
                  class="btn-doneToggle"
                  data-id="{{_id}}"
                >
                  <i class="fa-solid fa-circle-notch"></i>
                  <span class="text-value">No Realizada</span>
                </button>
              {{/if}}
            </div>
            <div class="float-delete">
              <button class="btn-delete" data-id="{{_id}}">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
            <div class="float-edit">
              <button class="btn-edit btn-modal-edit">
                {{!-- <a href="/task/{{_id}}/edit"> --}}
                <i class="fa-solid fa-pen"></i>
                {{! </a> }}
              </button>
              <div class="modal-container edit-modal-container">
                <form action="/task/{{_id}}/edit" method="POST">
                  <div class="form-group">
                    <input
                      class="form-control"
                      value="{{title}}"
                      required
                      id="title"
                      type="text"
                      name="title"
                    />
                  </div>
                  <div class="form-group">
                    <textarea
                      style="max-height: 50px !important;"
                      class="form-control"
                      required
                      id="description"
                      name="description"
                    >{{description}}</textarea>
                  </div>
                  <div class="flex-btns">
                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn btn-primary"
                      >Actualizar</button>
                    </div>
                    <div class="form-group">
                      <button
                        type="submit"
                        class="btn btn-default"
                      >Cancelar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="iframe"></div>
    {{else}}
      <div class="empty">
        <img src="/images/empty.png" alt="" />
        <h4>No hay tareas</h4>
      </div>
    {{/each}}
  </div>
</div>